# name : php-namespaced-class
# key : class
# --
<?php

/**
 * `(file-name-nondirectory (file-name-sans-extension (buffer-file-name)))`
 *
 * @author `(user-full-name)` `(if user-mail-address (concat "<" user-mail-address ">") "")`
 */

namespace `(file-path-to-namespace)`;

/**
 * ${1:Description}
 */
class `(file-name-nondirectory (file-name-sans-extension (buffer-file-name)))`
{
    $0
}