[submodule "site-lisp/color-theme-molokai"]
	path = site-lisp/color-theme-molokai
	url = https://github.com/alloy-d/color-theme-molokai.git
[submodule "site-lisp/change-inner"]
	path = site-lisp/change-inner
	url = https://github.com/emacsmirror/change-inner.git
[submodule "site-lisp/mark-multiple"]
	path = site-lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/android-mode"]
	path = site-lisp/android-mode
	url = https://github.com/remvee/android-mode.git
[submodule "site-lisp/fuzzy-find-in-projects"]
	path = site-lisp/fuzzy-find-in-projects
	url = https://github.com/justinweiss/fuzzy-find-in-project.git
[submodule "site-lisp/twittering-mode"]
	path = site-lisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/eproject"]
	path = site-lisp/eproject
	url = git://github.com/jrockway/eproject.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/ecb"]
	path = site-lisp/ecb
	url = https://github.com/alexott/ecb.git
[submodule "site-lisp/python"]
	path = site-lisp/python
	url = https://github.com/fgallina/python.el.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/phpunit"]
	path = site-lisp/phpunit
	url = https://github.com/ieure/phpunit-el.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = https://github.com/antifuchs/slime.git
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = https://github.com/swank-js/swank-js.git
[submodule "site-lisp/js2-refactor"]
	path = site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/emacs-powerline"]
	path = site-lisp/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "site-lisp/emacs-color-theme-solarized"]
	path = site-lisp/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
